<section class="section">
  <%#= render "common_wrapper", title: "Phòng khám nổi bật", see_all: clinics_path, data: @clinics %>
  <%#= render "common_wrapper", title: "Chuyên khoa nổi bật", see_all: specialties_path, view_detail: "specialty" , data: @specialties %>
</section>