<%= link_to send("#{view_detail}_path",item.id), class: "common__item" do %>
    <div class="common__item-wrapper">
      <div class="common__item-inner" style="background-image: linear-gradient(97.97deg, rgb(223, 221, 249) 0%, rgb(248, 222, 217) 92.67%);">
        <%= image_tag item.images.last, class: "common__item-img " if item.images.attached? %>
        <%= image_tag "/images/default.jpg", class: "common__item-img" unless item.images.attached?%>
      </div>
      <div  class="common__item-text">
        <h2 class="common__item-title h5 mt-3 mb-5"><%= item.name %></h2>
      </div>
    </div>
<% end %>


