.specialty{
  &__top{
    --bs-gutter-x: 0 !important;
  }
  &__banner{
    position: relative;
    padding-bottom: 50px;
    padding-right: 0 !important;
    height: 540px;
    overflow: hidden;
    background-color: transparent;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left bottom;
    position: relative;
  }
  &__service{
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 570px;
    background-repeat: no-repeat;
    background-position: right bottom;
  }
  &__content{
    max-width: 570px;
    width: 40%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    display: inline-block;
    padding-bottom: 0;
    margin-bottom: 30px;
    font-weight: 400;
    background: linear-gradient(95.6deg,#21e9cd 6.58%,#fdfffe 61.56%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__heading{
    &-text{
      color: white !important;
    }
  }
  &__main{
    background-size: cover;
    background-repeat: repeat-y;
    background-position: left bottom;
    &-content{
      margin-top: 30px;
    }
  }

  &__list{

  }

  &__issue{
    padding: 0 150px;
    &-list{
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
      gap: 20px;
    }
    &-item{
      padding: 13px 25px 13px 35px;
      border-radius: 100px;
      color: #111c63;
      position: relative;
      &:before{
        position: absolute;
        content: '\2713';
        display: inline-block;
        color: purple;
        left: 20px;
      }
      &:nth-child(5n+0){
        background-color: rgb(245, 255, 248);
      }
      &:nth-child(5n+1){
        background-color: rgb(241, 250, 255);
      }
      &:nth-child(5n+2){
        background-color: rgb(243, 242, 255);
      }
      &:nth-child(5n+3){
        background-color: rgb(255, 248, 242);
      }
      &:nth-child(5n+4){
        background-color: rgb(253, 253, 235);
      }
    }
  }

  &__tag{

  }
}